*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    height:100%;
    overflow-y:100;
    background:#000;
}


.layout{
    position:relative;
    width:100vw;
    height:100vh;
    overflow-y:100;
}


.main-content{
    position:relative;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    z-index:2;
}

.space-bg{
    position:fixed;
    inset:0;
    z-index:-2;
    overflow-y:100;
}
.stars{
    position:absolute;
    inset:0;
    background:transparent;
}
.nebula{
    position:absolute;
    inset:0;
    background:transparent;
}