:root {
  background: #02050b;
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  background: #02050b;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #02050b;
}

::-webkit-scrollbar-thumb {
  background: rgba(104, 178, 255, 0.45);
  border-radius: 20px;
}